{% extends 'header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        // var user = '{{request.user}}';
    </script>
    <script src="{% static 'js/home.js' %}">
    </script>
{% endblock %}

{% block content %}
    <div class="container__upload">
        <div>
            <h2 class="title">Xin chào bạn tới với trang web dự đoán bệnh cây trồng</h2>
        </div>
        <form action="" method="POST" enctype="multipart/form-data" class="form-upload">
            {% csrf_token %}
            <label for="image-upload" class="group-upload">
                <span id="image-text">Chọn 1 hình ảnh lá cây</span>
                <input type="file" name="image-predict" value= "1" id="image-upload" accept="image/*"/>
                <img src="{% static 'images/upload_imge.png' %}" />                   
            </label>
            <input type="submit" value="Dự đoán" class="btn-predict">
        </form>
    </div>

    <div class="container__result">    
        <div class="content">
            <div class="content__predict">
                <div class="image-show">
                    <img id="img-card" src= "{% static 'images/plant-image.jpg' %}" style="height: 100%;">
                </div>
            </div>
            <div class="content__result">
                <h2>Thông tin dự đoán</h2>
                {% if disease is None %}
                    <div style="width: 100%; text-align: center;">
                        <p>Kết quả dự đoán hiện thị tại đây</p>
                    </div>
                {% else %}
                    {% if disease.status == True %}
                        <div style="margin-left: 15px;">
                            <div style="display: flex;">
                                <p class="name-title">Tên cây trồng:</p>
                                <p>{{disease.plant}}</p>
                            </div>
                            <p>Cây không bị nhiễm bệnh.</p>
                            <p>Hãy chọn lá khác để dự đoán thêm.</p>
                        </div>
                    {% else %}
                    
                        <div style="display: flex; margin-left: 15px;">
                            <p class="name-title">Tên cây trồng:</p>
                            <p>{{disease.plant}}</p>
                        </div>
                        <div style="display: flex; margin-left: 15px;">
                            <p class="name-title">Nhiễm bệnh:</p>
                            <p>{{disease.name}}</p>
                        </div>
                        <div style="margin-left: 15px;">
                            <p class="name-title">Nguyên nhân:</p>
                            <p class="paragraph">{{disease.cause}}</p>
                        </div>
                        <div style="margin-left: 15px;">
                            <p class="name-title">Triệu chứng:</p>
                            <p class="paragraph">{{disease.symptom}}</p>
                        </div>
                        <div style="margin-left: 15px;">
                            <p class="name-title">Biện pháp phòng ngừa:</p>
                            <p class="paragraph">{{disease.precautions | linebreaksbr}}</p>
                        </div>  
                    {% endif %}
                {% endif %}

            </div>
        </div>


    </div>
{% endblock %}