{% extends 'header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/pesticides.css' %}">
{% endblock %}

{% block content %}
    {% include 'messages.html' %}

    <div class="content">
        <div class="content__header">
            <p>Các loại thuốc</p>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="search-group">
                    <input type="text" class="search-text" placeholder="Nhập tên thuốc.">
                    <button type="submit" class="search-btn">
                      <img src="{% static 'images/search_icon.svg' %}" alt="">
                   </button>
                </div>
            </form>
        </div>
        <div class="content__line"></div>
        <div class="list-card">
            {% for pesticide in pesticides %}
                <div class="card-item"> 
                    <div class="pesticide-image">
                        <a href="{% url 'pesticide-detail-page' id=pesticide.id %}">
                            <img src="{% static 'images/AT-Mebe-1kg.jpg' %}" alt="plant-image">
                        </a>
                    </div>
                    <p class="pesticide-name">{{pesticide.name}}</p>
                    <p class="producer">{{pesticide.producer}}</p>
                    <div class="price-cart">
                        <p class="price">{{pesticide.price}} đ</p>
                        <a href="" class="add-cart">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
