{% extends 'header.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
<script>
    var csrf_token = '{{csrf_token}}';
</script>
<script src="{% static 'js/product-detail.js' %}"> </script>

{% endblock %}

{% block content %}
<div class="content">
    <div class="content__header">
        <p>Chi tiết sản phẩm</p>
    </div>
    <div class="content__line"></div>
    <div class="content__main">
        <div class="pesticide">
            <div class="pesticide-images">
                <div class="image-focus">
                    <img src="{{product.thumbnail}}" id="image-focus">
                </div>
                <div class="image-range">
                    {% for img in product.images.all %}
                        <img src="{{img.image}}" id="{{ forloop.counter }}" alt="" onclick="changeImage(this.id)">
                    {% endfor %}
                </div>
            </div>

            <div class="pesticide-detail">
                <p class="pesticide__name">{{product.name}}</p>
                <div class="pesticide__info">
                    <p class="title">Thương hiệu:</p>
                    <p>{{product.brand}}</p>
                </div>
                <div class="pesticide__info">
                    <p class="title">Loại sản phẩm:</p>
                    <p>{{product.type}}</p>
                </div>
                <div class="pesticide_description">
                    <p class="title"> Mô tả: </p>
                    {{product.description | safe }}
                </div>
                <div class="pesticide__info">
                    <p class="title">Giá sản phẩm:</p>
                    <p class="price">{{product.price}} đ</p>
                </div>
                <div class="add-to-cart">
                    <div class="quantity">
                        <p class="title"> Số lượng:</p>
                        <div>
                            <button class="quantity__btn" onclick="EditQuantity('-')">
                                <img src="{% static 'images/minus-solid.svg' %}" alt="">
                            </button>
                            <input class="quantity__number" value="1" disabled />
                            <button class="quantity__btn" onclick="EditQuantity('+')">
                                <img src="{% static 'images/plus-solid.svg' %}" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="add-cart">
                        <!-- <a href="">Thêm vào giỏ hàng</a> -->
                        <button data-product="{{product.id}}" data-action="add" class="add-cart-btn-multi">Thêm vào giỏ hàng </button>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="content__footer">
        <div class="content__header">
            <p>Sản phẩm liên quan</p>
        </div>
        <div class="content__line"></div>

        <div class="list-pesticides">
            {% for product_item in products %}
                <div class="card-item"> 
                    <div class="pesticide-image">
                        <a href="{% url 'product-detail-page' id=product_item.id %}">
                            <img src="{{product_item.thumbnail}}" alt="plant-image">
                        </a>
                    </div>
                    <p class="pesticide-name">{{product_item.name}}</p>
                    <p class="producer">{{product_item.brand}}</p>
                    <div class="price-cart">
                        <p class="price">{{product_item.price}} đ</p>
                        <!-- <a href="" class="add-cart-btn">Thêm vào giỏ hàng</a> -->
                        <button data-product="{{product_item.id}}" data-action="add" class="add-cart-btn ">Thêm vào giỏ hàng </button>

                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}