.alert-messages{
    z-index: 20;
    height: 80px;
    min-width: 30%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 1px 2px 2px 1px #c0c2c1;
    position: absolute;
    right: 20px;
    top: 20px;
    /* animation: sideInLeft ease .3s, fadeOut linear 1s 10s forwards; */

}
.alert-messages.alert-error {
    background-color: #ffffff;
    color: #ff0000;
}

.alert-messages.alert-success {
    background-color: #ffffff;
    color: #00A257;
}

@keyframes sideInLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

.message{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.message strong{
    text-align: start;
}

.icon {
    padding-top: 4px;
    font-size: 1.3em;
    text-align: center;
    --fa-primary-color: #ffffff; 
    --fa-secondary-color: #ff4000; 
    --fa-secondary-opacity: 1;
}

.alert-messages .close-message{
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.message ul li{
    list-style-type: none;
}