body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: #00A257;
}

.header-menu {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.header-menu .logo {
    /* padding-left: 12px; */
    height: 85%;
    margin-left: 20px;
    margin-right: 40px;
}


.header-menu ul {
    display: block;
    width: 72%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.header-menu li {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-menu li:hover {
    background-color: rgb(102, 228, 182);
    animation: hover_animation ease-in-out 0.5s;
}


.menu-item {
    margin: 0 10px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item:hover {
    color: rgb(9, 10, 10);
    text-decoration: none;

}

@keyframes hover_animation {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.profile {
    height: 100%;
    max-width: 25%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    color: #fff;
}

.profile .cart {
    height: 100%;
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #fff;
}

.cart-icon img {
    margin-top: 3px;
    height: 22px;
    width: 25px;
}

.cart-number {
    position: relative;
    top: -12px;
    left: -8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    padding: 1px;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar img {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
}

.full_name {
    min-width: 100px;
    margin: 0;
}

.logout img {
    margin-right: 15px;
    width: 25px;
    width: 25px;
}

.login {
    width: 20%;
    text-align: end;
    padding-right: 40px;
}

.login a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.alert-messages {
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 90px;
    min-width: 25%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 1px 2px 2px 1px #c0c2c1;
    background-color: #fff;
    animation: sideInLeft ease .3s, fadeOut linear 1s 10s forwards;
}

@keyframes sideInLeft {
    from{
        opacity: 0;
        transform: translateX(calc(100% + 20px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to{
        opacity: 0;
    }
}

.alert-messages+.alert-messages {
    margin-top: 20px;
}

.alert-messages .fa-circle-check {
    padding-top: 10px;
    color: #00A257;
    font-size: 1.2em;
}

.message-body {
    margin-left: 10px;
    flex-grow: 1;
}

.message-body .message__title {
    font-weight: 600;
    color: #00A257;
}

.alert-messages .close-message {
    color: black;
    font-weight: 800;
    cursor: pointer;
}

.container {
    width: 100%;
    min-height: 440px;
    padding-top: 100px;
}

.footer {
    width: 100%;
    height: auto;
    bottom: 0;
    margin-top: 50px;
    /* clear: both; */
    position: relative;
    background-color: #00A257;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer .footer__title {
    font-weight: 600;
    font-size: 1.1em;
}

.footer .footer__content {
    width: 250px;
}

.footer__image {
    background-color: #fff;
    text-align: center;
}

.footer__image img {
    height: 30px;
}